<!doctype html>
<html>
<link rel="stylesheet" href="/stylesheets/simulator.css">
<body>
	<h1>Final : <%=@finalist_1%> against <%=@finalist_2%>!</h1>
	<img src="<%=@adress1%>"/>
	<img src="<%=@adress2%>"/>
	<br></br>
	<h2>Select the winner</h2>
	<form method="post" action="/winner" >
		<input type="radio" name="winner" value="<%= @finalist_1 %>"/> <%= @finalist_1 %>
		<br></br>
		<input type="radio" name="winner" value="<%= @finalist_2 %>"/> <%= @finalist_2 %>
		<br></br>
		<input type="submit">
	</form>
</body>
</html>