<h1><%=@name.capitalize%> interests</h1>

<% unless @name.empty? %>
  <%= @interests.join(', ')%>
<% end %>

<h1><%=@name.capitalize%> adress</h1>

<% unless @name.empty? %>
  <%= @email %>
<% end %>


<br></br>
<br></br>
<br></br>

<% @users.each do |user, _| %>
  <% unless user.to_s == @name %>
    <a style = "font-size:30px" href="<%=user.to_s%>"><%=user.to_s%></a>
    <br></br>
  <% end %>
<% end %>
