<!doctype html>
<html>
<link rel="stylesheet" href="/stylesheets/simulator.css">
<body>
	<h1>Semi-final <%=@id%> : <%=@semi_finalist_1%> against <%=@semi_finalist_2%>!</h1>
	<img src="<%=@adress1%>"/>
	<img src="<%=@adress2%>"/>
	<br></br>
	<h2>Select the winner</h2>
	<form method="post" action="/select/finalist/<%=@id%>" >
		<input type="radio" name="finalist" value="<%= @semi_finalist_1 %>"/> <%= @semi_finalist_1 %>
		<br></br>
		<input type="radio" name="finalist" value="<%= @semi_finalist_2 %>"/> <%= @semi_finalist_2 %>
		<br></br>
		<input type="submit">
	</form>
</body>
</html>